<nb-reveal-card [showToggleButton]="false" [revealed]="revealed">
  <nb-card-front>
    <nb-card [className]="isMobile ? 'mobile-dim' : 'desktop-dim'">
     <module-list [modules]="modules"></module-list>
      <nb-icon class="toggle-icon" icon="settings-outline" pack="eva" style="width: 32px;height: 32px; color:#598bff;" autofocus (click)="toggleView()"></nb-icon>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card  [className]="isMobile ? 'mobile-dim' : 'desktop-dim'">
      <module-list-all [modules]="modulesAll" [groupChanges]="groupChanges"></module-list-all>
      <nb-icon class="toggle-icon" icon="close-square-outline" pack="eva" style="width: 32px;height: 32px; color:#598bff;" (click)="toggleView()"></nb-icon>
      <!-- <nb-icon class="toggle-icon" icon="save-outline" pack="eva" style="width: 32px;height: 32px; color:#598bff; margin-right: 32px;" (click)="saveGroupes()"></nb-icon> -->
    </nb-card>
  </nb-card-back>
</nb-reveal-card>
