<nb-card-header>
    <div style= "padding-left: 10px;padding-right: 10px;margin-bottom: -10px;margin-top: -12px;">
        <input #searchInput type="text" nbInput fullWidth placeholder="Search device">
    </div>
</nb-card-header>
<div 
    style="overflow-y:auto; height: 65vh; background-color: #ffffff; flex-wrap: wrap;padding-bottom: 15px;">
    <div class="col-md-12" style='margin-top: 0.5rem; /*width: 2.5rem;*/' *ngFor="let module of modules">
        <ngx-status-card1 [module]="module" [source]="sourceType.SECTOR">
            
        </ngx-status-card1>
    </div>
</div>