<nb-card [ngClass]="{'off': (!(module.value === 'ON') || module.type === moduleType.SENSOR) }" style="background-color: #b6b6b61a; /*width: 31rem;*/">
    <div *ngIf="module.type === moduleType.RELAY && module.source !== sourceType.CONFIG" (click)="module.value = (module.value === 'ON'?'OFF':'ON')" class="icon-container">
        <div class="icon status-success">
            <nb-icon icon="power" pack="eva" style="width: 32px;height: 32px;"></nb-icon>
        </div>
    </div>
    <div *ngIf="module.type === moduleType.SENSOR" class="icon-container">
        <div class="icon status-success">
            <div style="font-size: 32px;">{{ module.value }}</div>
        </div>
    </div>
    <div *ngIf="module.type === moduleType.RELAY && module.source === sourceType.CONFIG"  class="icon-container">
        <div class="icon status-success-no-hover">
            <nb-icon icon="power" pack="eva" style="width: 32px;height: 32px;"></nb-icon>
        </div>
    </div>
    <div class="details">
        <div class="title h5" style="color: #666f80;/*width: 23rem;*/">{{ module.name }}</div>
        <div *ngIf="module.type === moduleType.RELAY"class="status paragraph-2" >{{ (module.value === 'ON') ? 'ON' : 'OFF' }}</div>
    </div>
    <div *ngIf="source === sourceType.CONFIG"
        style="display: flex;flex-direction: column;align-items: flex-end;width: 100vh;">
        <nb-checkbox status="info" [checked]="module.checked" (change)="FieldsChange(module,$event)"></nb-checkbox>
    </div>
</nb-card>